*{font-family: "Open Sans";}

 body {padding-top: 54px;}
      
/* NAVEGAÇÃO */
.navbar-beep {padding: 0 !important; background: #10b9bc;}
.navbar-beep__logo {margin: 0; background: #fff; padding: 5px 20px;}
.navbar-nav {padding: 0 20px;}
.navbar-nav .nav-item{padding: 0 8px;}

/* CONTEÚDO */

/*------------- FILTRO -----------------*/
.page-title-beep {text-align: left; color: #646464; font-weight: bold; font-size: 1.6rem; margin-bottom: 30px;}

.filter-beep {padding: 15px; background: #f3f4f8;}

.arrow-beep {border-radius: 0; background-color: #10b9bc !important; color: #fff; max-width: 45px; height: 40px; padding: 0 15px; font-size: 1.5rem; font-weight: 900;}
.arrow-beep i {text-align: center;}
.arrow-beep__down {float: right; height: 36px; padding-top: 6px; width: 43px;}
.styled-text-input {text-align: center; /*width: 240px;*/ }
.styled-text-input input {border: 1px solid #10b9bc; }


/**************** CUSTOM SELECT ***************/

.beep-select {width: 240px; margin: 0 5px; position: absolute; left: 80px;}

.styled-select select, 
.styled-select select:active,
.styled-select select:focus {  background: transparent;  border: none;  font-size: 14px;  padding: 5px;  position: relative;  z-index: 1000;  -webkit-appearance: none;  appearance: none; width: 240px;   }

/* This is to remove the arrow of select element in IE */
.styled-select select::-ms-expand {	display: none; }
.filter-beep__label {position: relative; text-aligh: right; left: 5px; top: 4px; color: #646464; }


.slate {  position: relative;   background: transparent; width: 240px;  z-index: 0;}
.styled-select .slate select { border-radius: 0;}
.white-mask {background: #fff; width: 100%; position: absolute; height: 37px; top: 34px; border: 1px solid #10b9bc; position: absolute; top: 0; z-index: 0;}
/*********************************************/

/*------------- DADOS FILTRADOS -----------------*/

.filtered-data {margin: 40px 0;}

.filtered-data__box {margin: 20px 0;}

.filtered-data__box p {margin-bottom: 10px;}

.vacination-date {background: #505e69; color: #fff; padding: 15px;}
.vacination-date__title {font-size: 1.2rem; font-weight: 300; margin-bottom: 40px;}
.vacination-date__title--type {font-weight: bold;}
.vacination-date__label {width: 50px; height: 50px; border-radius: 100px; text-align: center !important; color: #fff;}
.vacination-date__label--home {background: #fdad22;}
.vacination-date__label--clinic {background: #f4641d;}

.vacination-label__wrapper {padding:0; text-align: center;}
.vacination-date__info {float: left; padding: 0 10px;}
.vacination-date__info p {margin-bottom: 0 !important; }
.vacination-date__day {font-weight: 300; font-size: 1.1rem;}
.vacination-date__hour {font-size: 2rem;}

.patient-info {background: #fff; color: #505e69; border: 1px solid #505e69; padding: 20px 15px;}

.patient-info__name {font-weight: 300; font-size: 1.8rem;}
.patient-info__order,
.patient-info__partner {font-size: 1rem;}
.patient-info__order-number {font-weight: bold; font-size: 1.2rem;}

.vaccines-list {margin: 20px 0 0 0; padding: 0;}
.vaccines-list__item {list-style: none; margin: 0; padding: 0; font-size: 0.9rem;}
.vaccines-list__item--number {font-weight: bold;}

.patient-info__patient-address,
.patient-info__patient-phone {font-size: 0.9rem;}

/* RODAPÉ */

.footer-beep {color: #fff; font-weight: 300; padding: 20px; text-align: center; background: #323b42;}
.copyright {position: relative; left: 50%; transform: translateX(-50%);}



/* MEDIA QUERIES */
@media (min-width: 992px) {

body {padding-top: 56px;}

.filter-beep__label--local {left: 35px;}    
    
}